.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

// .about-list {
//   display: flex;
// }

.about-list__wrap {
  width: 270px;
  height: 120px;
  background: var(--about-item-svg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about-list__item {
  max-width: 270px;
}

.about-list__title {
  @include font(700, null, 1.14, 0.03em);
  // font-weight: 700;
  // line-height: 1.14;
  // font-size: 14px;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.about-list__text {
  @include font(null, null, 1.71, 0.03em);
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: var(--main-bottom-text-color);
}
