.button-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;
    @media screen and (min-width: 768px) {
  justify-content: center;
  }

  @media screen and (min-width: 1200px) {
  }
}

.button-list__item {
  margin-right: 8px;
}

.button-list__button {
  cursor: pointer;
  background: var(--portf-btn-bkgd-color);
  font-family: inherit;
  @include font(500, 16px, 1.62, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.62;
  //   letter-spacing: 0.03em;
  text-align: center;
  color: var(--portf-btn-color);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  @include transition((color, background-color, box-shadow));
  // transition-property: color, background-color, box-shadow;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--portf-bth-hover-color);
    background-color: var(--portf-bth-bkgd-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button-list__button_selected {
  background-color: var(--portf-select-bth-color);
  color: var(--portf-select-bth-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

// .button-list__button:hover,
// .button-list__button:focus {
//   color: var(--portf-bth-hover-color);
//   background-color: var(--portf-bth-bkgd-hover-color);
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
// }
