.header {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: var(--header-border-color);
  // height: 60px;
}

// .container-header {
//   display: flex;
//   align-items: center;
// }

.logo__header {
  color: var(--second-logo-color);
}

.menu-button{
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.menu-button .menu-button__icon-close{
  display: none;
}

.menu-button.is-open .menu-button__icon-close{
  display: block;
}

.menu-button.is-open .menu-button__icon-menu{
  display: none;
}
// .nav-list {
//   display: flex;
// }

// .nav-list__item:not(:last-child) {
//   margin-right: 50px;
// }

.nav-list__link {
  position: relative;
  @include font(500, null, 1.14, 0.02em);

  color: var(--header-link-color);
  // padding-top: 32px;
  // padding-bottom: 32px;
  display: block;
  @include transition(color);
  &:hover,
  &:focus{
    color: var(--header-hover-color);
  }
}

.nav-list__link_current {
  color: var(--header-sec-link-color);
}

.nav-list__link_current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-list__link_current::after {
  background-color: var(--header-sec-link-color);
}

// .list-contact {
//   display: flex;
//   margin-left: auto;
// }

// .list-contact__item:not(:last-child) {
//   margin-right: 50px;
// }

.list-contact__icon {
  max-width: 16px;
  display: block;
  // margin: auto;
  // margin-right: 10px;
  @include transition(fill);
  &:hover,
  &:focus {
    color: var(--header-hover-color);
    fill: var(--header-hover-color);
  }
}

.list-contact__link {
  @include font(500, null, 1.14, 0.02em);
  color: var(--header-mail-tel-color);
  // padding-top: 32px;
  // padding-bottom: 32px;
  display: flex;

  @include transition(color);
  &:hover,
  &:focus {
    color: var(--header-hover-color);
    fill: var(--header-hover-color);
  }
}