.team {
  background: var(--team-bkgd-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  @include font(700, 28px, 1.17, 0.03em);
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    @include font(700, 36px, 1.16, 0.03em);
    margin-bottom: 50px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0;
    margin-left: -30px;
  }
}

.team-list__item {
  background-color: var(--team-itemb-bkgd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
    width: calc(100% / 4 - 30px);
    margin: 0;
    margin-left: 30px;
  }
}

.team-list__img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}

.team-list__title {
  @include font(500, 16px, 1.18, 0.03em);
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.team-list__text {
  @include font(null, 16px, 1.18, 0.03em);
  text-align: center;
  color: var(--main-bottom-text-color);
  margin-bottom: 16px;
}
