.team {
  background: var(--team-bkgd-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  @include font(700, 36px, 1.16, 0.03em);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.16;
  // letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

// .team-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
// }

.team-list__item {
  background-color: var(--team-itemb-bkgd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  padding-bottom: 30px;
}

.team-list__img {
  margin-bottom: 30px;
}

.team-list__title {
  @include font(500, 16px, 1.18, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.18;
  // letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.team-list__text {
  @include font(null, 16px, 1.18, 0.03em);
  // font-size: 16px;
  // line-height: 1.18;
  // letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-bottom-text-color);
  margin-bottom: 16px;
}
