
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--body-bgrd-color);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* :focus-visible {
  outline: none;
} */

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}