:root {
  --body-bkgd-color: #ffffff;
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --header-link-color: #212121;
  --header-sec-link-color: #2196f3;
  --header-mail-tel-color: #757575;
  --header-hover-color: #2196f3;
  --header-border-color: #ececec;
  --hero-bkgd-color: #2f303a;
  --hero-btn-color: #ffffff;
  --hero-btn-bkgd-color: #2196f3;
  --hero-title-color: #ffffff;
  --backdrop-bkgd-color: rgba(0, 0, 0, 0.2);
  --modal-bkgd-color: #ffffff;
  --main-title-color: #212121;
  --main-bottom-text-color: #757575;
  --about-item-svg-color: #f5f4fa;
  --service-bkgd-color: rgba(47, 48, 58, 0.8);
  --service-text-color: #ffffff;
  --team-bkgd-color: #f5f4fa;
  --team-itemb-bkgd-color: #ffffff;
  --soc-link-color-fist: #afb1b8;
  --soc-link-color-sec: #2196f3;
  --soc-link-color-third: #ffffff;
  --soc-link-color-four: #ffffff1a;
  --footer-bkgd-color: #2f303a;
  --footer-address-color: #ffffff;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --footer-hover-color: #2196f3;
  --portf-btn-bkgd-color: #f5f4fa;
  --portf-btn-color: #212121;
  --portf-bth-hover-color: #ffffff;
  --portf-bth-bkgd-hover-color: #2196f3;
  --portf-border-color: #eeeeee;
  --portf-select-bth-color: #2196f3;
  --portf-select-bth-text: #ffffff;
  --portf-overlay-bkgd-color: rgba(33, 150, 243, 0.9);
  --portf-overlay-text: #ffffff;
  --color-2196f3: #2196f3;
  --color-212121: #212121;
  --color-757575: #757575;
  --color-ffffff: #ffffff;
  --color-afb1b8: #afb1b8;
  --color-0000001a: #0000001a;
  --color-afb1b8: #afb1b8;
}